# Resource Group
resource_group_name     = "<your-resource-group-name>"
resource_group_location = "<your-location>" # e.g., "South India"
location                = "<your-location>" # e.g., "South India"

# Virtual Network
vnet_name     = "<your-vnet-name>"
address_space = ["<your-vnet-cidr>"] # e.g., ["10.0.0.0/16"]

# Public Subnets
public_subnets = [
  { name = "<public-subnet-1-name>", address_prefix = "<cidr>" }, # e.g., "10.0.0.0/24"
  { name = "<public-subnet-2-name>", address_prefix = "<cidr>" }  # e.g., "10.0.1.0/24"
]

# Private Subnets
private_subnets = [
  { name = "<private-subnet-1-name>", address_prefix = "<cidr>" }, # e.g., "10.0.2.0/23"
  { name = "<private-subnet-2-name>", address_prefix = "<cidr>" }  # e.g., "10.0.4.0/24"
]

# Container App
prefix           = "<prefix-for-naming>" # e.g., "teja"
container_image  = "ktsreddy/teja_particle41_devops-challenge:v1.0"   # e.g., "ktsreddy/your-image:tag"
container_port   = 5000         # e.g., 5000